body{
    text-align: center;
    
}

table{
    width: 65%;
    margin: auto;
    font-size:1.5em;
}

td{
    
   border-bottom:1px solid blue; 
}

th {
  background-color: skyblue;
  color: white;
}
#td1{
   background-color:red;
   color: white;
}